.burger{
    display: none;
    @media screen and (max-width: $point_rupture){
        display: block;
        position: absolute;
        top: 70px;
        right: 20px;
    }
}
.chk__burger{
    display: none;
}
.chk__burger:checked ~ .entete__nav{
    display: flex;
}

.entete{
    max-width: 98vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: none;
    width: 100%;
    @media screen and (max-width:$point_rupture){
        height: 15vh;
    }

    &__nav{
        display: flex;
        position: static;
        @media screen and (max-width:$point_rupture){
            display: none;
            flex-direction: column-reverse;
            align-items: flex-start;
            flex-wrap: nowrap;
            gap: 15px 0;
            position: absolute;
            top: 95px;
            right: 0;
            background-color: #ffffff;
            height: 15vh;
        }
        flex-direction: row;
        align-items: center;
        gap: 0 40px;
        flex-wrap: wrap-reverse;
    }
    &__logo{
        // height: 5vh;
        height: auto;
        width: auto;
        margin-bottom: 0;
        
        &__img{
            height: 100%;
            width: auto;
        }
    }
}

.custom-logo{
    display: block;
    max-width: 100px;
    height: auto;
    margin-bottom: 0;
    margin-top: 0;
}