.hero{
    &__contenu{
        overflow: hidden;
    }
}


////animation de l'image
.clip-anim{
    animation-name: clip-anim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.33,.03,.06,1)
}
.clip-anim-reverse{
    animation-name: clip-anim-reverse;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.33,.03,.06,1)
}

@keyframes clip-anim {
    0%{
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, -25% 100%);
    }
    85%{
        clip-path: polygon(125% 0%, 100% 0%, 100% 100%, 100% 100%);
    }
    100%{
        clip-path: polygon(125% 0%, 100% 0%, 100% 100%, 100% 100%);
    }
}
@keyframes clip-anim-reverse {
    0%{
        clip-path: polygon(125% 0%, 100% 0%, 100% 100%, 100% 100%);
    }
    85%{
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, -25% 100%);
    }
    100%{
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, -25% 100%);
    }
}


////animation du titre
.spin-anim{
    animation-name: spinAnim;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.4,.18,.77,1.27);
}
.slot-machine-anim-y{
    animation-name: slot_machine_y;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(1,-0.11,.31,.67);
}
.slot-machine-anim-x{
    animation-name: slot_machine_x;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(1,-0.11,.31,.67);
}
.shimmy-swivel-anim{
    animation-name: shimmy-swivel-anim;
    animation-duration: 2s;
    animation-timing-function: ease-in-out
}
.stretch-anim{
    animation-name: stretch-anim;
    animation-duration: 1s;
    animation-timing-function: ease-in-out
}



@keyframes spinAnim {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes slot_machine_y {
    0%{
        transform: translate(0,0);
    }
    55%{
        transform: translate(0,100vh);
    }
    56%{
        transform: translate(100vw, 100vh);
    }
    57%{
        transform: translate(100vw, -100vh);
    }
    58%{
        transform: translate(0, -100vh);
    }
    100%{
        transform: translate(0,0);
    }
}

@keyframes slot_machine_x {
    0%{
        transform: translate(0,0);
    }
    55%{
        transform: translate(100vw,0);
    }
    56%{
        transform: translate(100vw, 100vh);
    }
    57%{
        transform: translate(-100vw, 100vh);
    }
    58%{
        transform: translate(-100vw, 0);
    }
    100%{
        transform: translate(0,0);
    }
}

@keyframes shimmy-swivel-anim {
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(2deg);
    }
    20%{
        transform: rotate(-2deg);
    }
    30%{
        transform: rotate(2deg);
    }
    40%{
        transform: rotate(-2deg);
    }
    50%{
        transform: rotate(2deg);
    }
    60%{
        transform: rotate(-2deg);
    }
    70%{
        transform: rotate(2deg);
    }
    80%{
        transform: rotate(-2deg);
    }
    90%{
        transform: rotate(2deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes stretch-anim {
    0%{
        transform: scale(1, 1);
    }
    50%{
        transform: scale(1.1, 0.75);
    }
    100%{
        transform: scale(1, 1);
    }
}