.hero{
    &__contenu{
        overflow: hidden;
    }
}

////animation du titre
.animTitre{
    // animation-name: animTitre;
    // animation-duration: 1s;
    // animation-timing-function: cubic-bezier(.4,.18,.77,1.27);
    animation-name: slot_machine;
    animation-duration: 2s;
    // animation-timing-function: cubic-bezier(1,-0.1,.73,1.1);
    animation-timing-function: cubic-bezier(1,-0.11,.31,.67);
}
@keyframes animTitre {
    0%{
        //transform: rotateY(0deg);
        //transform: translateY(-100vh);
        top: -100vh;
    }
    50%{
        //transform: translateY(-20px);
    }
    100%{
        //transform: rotateY(360deg);
        //transform: translateY(0);
        top: 0;
    }
}

@keyframes slot_machine {
    0%{
        transform: translateY(0);
    }
    55%{
        transform: translate(0,100vh);
    }
    56%{
        transform: translate(100vw, 100vh);
    }
    57%{
        transform: translate(100vw, -100vh);
    }
    58%{
        transform: translate(0, -100vh);
    }
    100%{
        transform: translate(0,0);
    }
}