.hero{
    min-height: 100vh;
    //background-image: url("images/maldives.jpg");
    background-repeat: no-repeat;
    // background-size: contain;

    //color: green;
    
    &__contenu{
        position: relative;

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        // height: 40vh;
        height: auto;
        align-items: flex-start;
    }
    &__titre{
        margin: 13px;
        font-size: 3rem;
        text-shadow: 3px 3px 3px rgb(11, 128, 136);
    }
    &__description{
        margin: 10px;
    }
    &__courriel{
        margin: 10px;
    }
    &__phone{
        margin: 10px;
    }
    &__adress{
        margin: 10px;
    }
    &__bouton{
        margin: 10px;
        padding: 7px;
        border-radius: 10px;
        background-color: rgb(152, 255, 221);
        border: 2px solid rgb(47, 167, 223);
    }
    &__icone-apps{
        margin: 10px;
        display: flex;
        gap: 0 15px;
    }

    //////////////////carousel
    &__carousel{
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        pointer-events: none;

        opacity: 0;
        //transition: opacity 3s;

        //pour que le fond decran soit derriere le header
        z-index: -1;

        /////// carousel
        &.carouselActif{
            opacity: 100%;
        }


        &__radio{
            position: absolute;
            
            bottom: 0;
            left: 50%;

            z-index: 999;

            & form{
                position: relative;
                left: -50%;
                display: flex;
                flex-flow: row nowrap;
            }

            & input{
                display: none;
            }
            & label div{
                width: 11px;
                height: 11px;
                margin: 10px;
                margin-bottom: 10px;
                border: 2px solid black;
                border-radius: 5px;
                background-color: white;

                transition: background-color 1s, border .25s, transform .5s;
            }
            & input:checked + label>div{
                background-color: black;
                border: 3px solid white;
                transform: rotate(-45deg);
            }
        }
    }
}