.global{
    //margin: 0 auto;
    padding: 50px;
    max-width: 1100px;
    font-family: "Roboto", serif;

    display: flex;
    flex-flow: row wrap;
}



.hidden{
    // visibility: collapse;
    display: none;
}



///////
.article__list div {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}