.global{
    //margin: 0 auto;
    padding: 50px;
    max-width: 1100px;
    font-family: "Roboto", serif;

    display: flex;
    flex-flow: row wrap;
}

.hero{
    min-height: 100vh;
    background-image: url("images/maldives.jpg");

    &__contenu{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        // height: 40vh;
        height: auto;
        align-items: flex-start;
    }
    &__titre{
        margin: 13px;
        font-size: 3rem;
        text-shadow: 3px 3px 3px rgb(11, 128, 136);
    }
    &__description{
        margin: 10px;
    }
    &__courriel{
        margin: 10px;
    }
    &__bouton{
        margin: 10px;
        padding: 7px;
        border-radius: 10px;
        background-color: rgb(152, 255, 221);
        border: 2px solid rgb(47, 167, 223);
    }
    &__icone-apps{
        margin: 10px;
        display: flex;
        gap: 0 15px;
    }

} 