.wave{
    position: relative;
    top: 45px;
    margin-top: -110px;
    margin-bottom: 0;

    overflow: hidden;

    &--svg{
        margin: 0;
        position: relative;
        transform: scaleX(1.5);
        right: -24.9%;

        animation-name: wave;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
    }
}


@keyframes wave {
    from{
        right: -24.9%;
    }
    to{
        right: 25%;
    }
}